html {
  --primary-color: #1e88e5;
  --background-color: #fff;
  --disabled-color: #e0e0e0;
  --border-color: #e0e0e0;
  --text-color: #000;
}

body {
  margin: 12px;
  width: 230px;
  color: var(--text-color);
  background: var(--background-color);
  font-family: system-ui, sans-serif;
  font-size: 12px;
}