.textbox {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.textbox textarea {
  background: var(--background-color);
  color: var(--text-color);
  font-family: inherit;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  resize: vertical;
  height: 100px;
}

.textbox textarea:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(from var(--primary-color) r g b / .2);
}